<a href="https://colab.research.google.com/github/amrit-thapa-2044/ICIMOD_permafrost_training_2022/blob/main/Copy_of_Basics_of_R_original_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<div align="center"><font size="4">REGIONAL TRAINING</font>**
<div align="center"><font size="4">Analysing permafrost in the Hindu Kush Himalaya using open access tools</font>

**<h1 align='center'>Basics of R**

*This notebook is prepared for the participants of the regional training on **Analysing permafrost in the Hindu Kush Himalaya using open access tools** organized by ICIMOD through its Cryosphere Initiative under the Regional Programme on River Basins and Cryosphere in collaboration with Kathmandu University and Tribhuvan University.*

*The Cryosphere Initiative is supported by the Government of Norway and the Swiss Agency for Development and Cooperation.*

Coded by: \
Abhijit Vaidya \
Email: abhijit.vaidya@icimod.org, abjt.vaidya@gmail.com \

---

This tutorial covers general information about the R programming language. It covers Data Types, Data Structures, Looping, Conditional Statement and Basic Data Visualization.


#**What is R?**

The R programming language is an offshoot of a programming language called S. R was initially written by Ross Ihaka and Robert Gentleman at the Department of Statistics of the University of Auckland in Auckland, New Zealand. **It is free to download and use.** R has an effective data handling and storage facility. 

More about R can be found at http://www.r-project.org/.

# **Basic operation in R**

R has the capacity to perform different operations including *arithmetic*, *logical* and *relational* among others. To execute any expression, you need to enter an expression into the R console and press the enter key or *run* button.

Operators in R can be classified into the following categories.


1.   Arithmetic operator
> used to perform mathematical operations

2.   Relational/logical operators
> used to compare values

Below are some examples - you can also play around with the values to see how the results change. Also see how we use comments within the code. This helps to remind you in future what you wrote and makes the code usable for others too. Also try to keep some order within the code. Everyone has their preferred way of writing, but important rules are *consistency* in how you name things and how you structure your code (e.g. how much space you use or where you place your comments) and *documentation*, that you spell out what you do and why you did it.

In [ ]:
#Addition
4+5

In [ ]:
#Subtraction
4-5

In [ ]:
# Division
3/5

In [ ]:
# Exponentiation
2^3

In [ ]:
# Remainder (or also called Modulo - what remains after a division)
3%%2

In [ ]:
# Greater than and less than - this command outputs a TRUE/FALSE statement rather than a number!
2>3
2<3

In [ ]:
# Greater/lesser than or equal to
2>=3
2<=3

# **What is a variable in R?**

Variables are used to store data, whose value can be changed according to our need. A valid variable name is a combination of letters, numbers, the dot and underline characters. The variable name can start with a letter or the dot not followed by a number.
Naming Convention of Variables in R
1.	var_name2 (valid: has letters, numbers, dot and underscore)
2.	var_name% (Invalid: has the character ‘%’. Only dot(.) and underscore allowed)
3.	2var_name (Invalid: starts with a number)
4.	.var_name, var.name (valid: Can start with a dot(.) but the dot(.) should not be followed by a number)
5.	.2var_name (invalid: The starting dot is followed by a number making it invalid)
6.	_var_name (invalid Starts _ with which is not valid)

Let’s define some variables in R.

In [ ]:
x <- 5                    # assign value "5" to variable x
my_name <- "amrit"        # assign a string
a = 4                     # you can also assign with '='. However to not confuse that operator (which is often used within functions), it is considered best practise to use '<-'
4 -> t                    # you can also turn the order around

#**Data types in R** 
You will need a clear understanding of basic data types in R to make best use of R software. This chapter will help you to familiarize with different data types in R.

##**Numeric** 

Decimal values are referred to as numeric data types in R. They are the default computational data type. There are then a few commands you can use to check your variables - this will be crucial in future as there are many complex code structures where you need to check a lot of variables at the same time to find errors for example.

In [ ]:
r <- 2.1
t <- 5

In [ ]:
#Check the data type of a variable
class(r)
class(t)
typeof(r)
is.numeric(t)

##**Integer**

Natural numbers are represented as *integer* in R. We can define integer data type in R by appending an L suffix.

In [ ]:
int <- 2L

In [ ]:
class(int)
typeof(int)
is.integer(int)



##**Character**

This data type is used to denote strings in R. Using the ***paste*** command we can merge multiple strings easily.

In [ ]:
st <- "Kathmandu"
as <- "University"
st
as

In [ ]:
paste(st, as)



##**Factor**

Factor data type is used to categorize the data and store it as levels. Such variables are often referred to as categorical variables.

In [ ]:
fc <- factor(c(1,2,3,1,1,1),labels=c("snow","land","vegetation"))
print(fc)


##**Logical**


The logical class can only take on two values, TRUE or FALSE. This data type is used for comparison between two variables.

In [ ]:
lo <- TRUE

In [ ]:
class(lo)
is.logical(lo)

# **Conversion between data types**
In many instances, we need to convert data from one type to another. This is achieved with the ***as.*** command.

In [ ]:
# Integer to numeric
int_nu <- as.numeric(int)

In [ ]:
class(int_nu)

In [ ]:
# Numeric to interger
nu_int <- as.integer(t)

In [ ]:
class(nu_int)

In [ ]:
#Logical to numeric
lo
lo_nu <- as.numeric(lo)
lo_nu

# **Data structure in R**
Data structure is a way of arranging data on a computer so that it can be accessed and updated efficiently.



##**Vector**

Vector is a basic data structure in R programming. It can only contain elements of the same data type. A specific vector can be numeric, integer, character, complex or logical. Vector is one dimensional object. Vector can be created using “c()” in R.

In [ ]:
# numeric vector
a <- c(1,2,3,4)

In [ ]:
is.vector(a)
class(a)

In [ ]:
#character vector
b <- c("amrit","abhijit","tika")

In [ ]:
# logical vector
d <- c(TRUE,TRUE,TRUE,FALSE)



*   **Matrix**

The matrix in R programming is a collection of data elements of the same type arranged in a two-dimensional rectangular layout. In other words, it is homogenous in nature, which means that it only accepts elements of the same data type.

In [ ]:
# define a matrix 'a' that has 3 rows and 4 columns
# the elements of this matrix are 1,2,....12
a <- matrix(1:12,nrow=3,ncol=4,byrow=F)
# byrow=T is default.
# the elements(1,12) are arranged columnwise

In [ ]:
a
is.matrix(a)



*   **List**

A list in R programming is a non-homogenous data structure implying that it can contain elements of different data types. In R, it is created using the list() function.

In [ ]:
n<-c(2, 3, 5) #numeric
s <- c("aa", "bb", "cc", "dd", "ee") #character
b <- c(TRUE, FALSE, TRUE, FALSE, FALSE) #logical
x <- list(n, s, b, 3) # x contains copies of n, s, b
x

In [ ]:
class(x)



*   **Data frame**

A data frame is a list of vectors of equal length. It is used for storing data tables.

In [ ]:
my_dataframe <- data.frame(name=c("ram","sita","hari","tara","jakob","tika", "reeju","mirima","abhijit"),age=c(29,28,28,30,34,31,28,40,31))

In [ ]:
is.data.frame(my_dataframe)

Let’s extract specific attributes from my_dataframe.

In [ ]:
my_dataframe$name

In [ ]:
my_dataframe$age

R also has ways to look at the dataset at a glance or as a whole.

In [ ]:
dim(my_dataframe)

In [ ]:
str(my_dataframe)

In [ ]:
head(my_dataframe)

In [ ]:
tail(my_dataframe)

In [ ]:
colnames(my_dataframe)

# **Looping in R**

Looping is also called iterating or cycling. It is automating a multi-step process by organizing sequences of actions by grouping the parts that need to be repeated. Broadly, there are two types of loops in modern programming languages. Some loops execute for a specified number of times, as controlled by a counter or an index, incremented at each iteration cycle (the most famous one is the ***for loop***) whereas some loops are based on the onset and verification of a logical condition (examples includes ***while*** and ***repeat***).



* **For loop**

The syntax for a *for loop* is as follows, where ***val*** is the counter variable, ***sequence*** is the steps gone through by the counter (e.g. from 1 to 3, written as 1:3) and the ***statement*** is whatever needs to be executed at each step. 

for (val *in* sequence)

{statement}

In below example all variables will appear at the same time, as Google Collab is not able to output each step immediately. If you would run this code in your standalone R, all names would appear one after the other as you would expect in a loop.

In [ ]:
name <- c("Nepal","Bhutan","Pakistan")
for ( i in 1:3){
  print(name[i])
}


*   **While loop in R**

The syntax for a *while loop* is as follows, where the *test expression* is any kind of check on your data you would like to explore. Again, in your standalone R this check would be executed sequentially.

while (test expression)

{statement}

In [ ]:
i <- 1
while (i < 6){
  print(i)
  i = i+1
}

*   **Repeat loop in R**

The syntax for a *repeat loop* only includes a statement. It would go on forever until you tell it to stop (in this example with the ***break*** command).

repeat {statement}

In [ ]:
x=1
repeat{
  print(x)
  x=x+1
  if (x ==7){
    break }
  }

# **Conditional statement**
A conditional statement is used for decision making. This can be achieved in R programming using the conditional ***if...else*** statement.

##**if statement syntax**

if(test expression)

{statement}

In [ ]:
x <- 5
if(x > 0){
  print("Positive number")
}

## **if....else statement syntax**

if (test expression)

{statement1} else

{statement2}

In [ ]:
x <- -5
if(x > 0){
  print("Non-negative number")
} else {
  print("Negative number")
}

## **if...else ladder syntax**

if (test expression)

{statement1} else if

{expression2} else if

{statements3} else

{statement4}

In [ ]:
x <- -5
if (x < 0) {
  print("Negative number")} else if(x > 0) {
    print("Positive number")}else{
      print("Zero")
    }

#**Basic data visualization**

The graphics package is used for plotting base graphs like scatter plot, box plot, line plot etc. Plotting commands in R are categorized into two basic groups. 

##**High-level plotting functions**
These functions create a new plot on the graphics device, possibly with axes, labels, titles and so on. Some of the basic plot functions includes:


|Functions|	Descriptions|
|---------|--------------|
|plot()|	Scatter/line plot|
|boxplot()|	Histogram|
|pie()|	Pie chart|
|hist()|	Box plot|
|barplot()|	Bar plot|

We'll now explore some examples with dummy data below. Remember best practices for plots:

(a) Plots need axis labels that are self explanatory. 
(b) Labels should always be large enough to read in the final output.

In [ ]:
#plotting using plot() command
x <- rnorm(20) #rnorm: normal distribution function, creating random number

##Scatter plot of single vector
plot(x) #Data will be plotted against its index (1,2,3....., n)
##Scatter plot of two vectors x and y
y <- 2*x+rnorm(length(x))
plot(x,y) #Length of x and y should be the same.

The plot() command has many arguments in itself.

***type=“string”*** #The argument controls the type of plot produced.


> “p” for plotting individual points (default)

>“l” for line plot

>“b” for plotting points connected by lines 

>“o” for plotting points overlaid by lines 

>“h” for plotting vertical lines from points to zero axis 

>“n” No plotting at all. 

However axes are still drawn (by default) and the coordinate system is set up according to the data. Ideal for creating plots with subsequent low-level graphics functions.

> axes= “FALSE” 

Suppresses generation of axes-useful for adding your own custom axes with the ***axis*** function. The default, axes=“TRUE”, includes axes

> xlab=“string” #X-axis label of the plot 

> ylab=“string” #Y-axis label of the plot

> main= “string” #Title of the plot 

> sub= “string” #Sub title of the plot 

> col= “string” #Change the color of graph “red”, “blue”, “black”, “gray”, “green” etc.

> lwd= numeric #Specify the width of line.

> lty=numeric #Specify the type of the line (0 for blank, 1 for solid line, 2 for dashed line, 3 for dotted line, 4 for dot-dash line, 5 for long dash line, 6 for two dash line)

> pch=numeric #Specify the type points 

![Picture1.png]()

In [ ]:
x <- 1:100/100
y <- 3*x+rnorm(100,sd=0.2)
plot(x, y, type="l") #Draws a line graph

In [ ]:
plot(x, y, type="l", col= "blue") #Change the color of the line

In [ ]:
plot(x, y, type="l", col= "blue", lwd=2) #Change the width of the line

In [ ]:
plot(x, y, type="l", xlab= "XLABEL", ylab= "YLABEL", main= "XY Line plot in R") 
#Adds the x-axis label, y-axis label and title of the plot

In [ ]:
##Boxplot
xy <- data.frame(x,y) 
boxplot(xy,names = c('X something','Y something'),col=c('red','blue'))

In [ ]:
##Pie Chart
student <- c(45,60,55,70,86,65)
subj <- c("English", "Science", "Math", "Social", "HP", 'Nepali')
pie(student, labels =subj, main="Pie Chart Student result SEE")

In [ ]:
#pie chart with extra text
pct <- round(student/sum(student)*100) #in percentage
lbls <- paste(subj, pct) # add percents to labels
lbls <- paste(lbls,"%",sep="") # ad % to labels
pie(student,labels = lbls, col=rainbow(length(lbls)),
    main="Pie Chart Student result SEE")

In [ ]:
##Barplot
barplot(student, names.arg=subj, ylab ="Marks")

##**Low-level plotting functions**

Low-level plotting functions can be executed only after a high-level plot has been created. These functions add more information to an existing plot, such as extra points, lines and labels. Some of the basic plot functions includes: 

|Functions|	Descriptions|
|----------|------------|
|points()|	Add points|
|lines()|	Add a line plot|
|abline()|	Add a straight line
|text()|	Insert text
|legends()|	Add legend
|title()|	Add a title
|axis()|	Manipulate axes

In [ ]:
# Lets create a simple line plot first
z <-3 * x +rnorm(100,sd =0.1)
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")

In [ ]:
# Now we add some data points
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")
points(y, pch = 3, col ="blue") #plotting 'character', i.e., symbol to use

In [ ]:
# ... and even more data
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")
points(y, pch = 3, col ="blue") #plotting 'character', i.e., symbol to use
points(z, pch = 2, col ="green")

In [ ]:
# ... and another line
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")
points(y, pch = 3, col ="blue") #plotting 'character', i.e., symbol to use
points(z, pch = 2, col ="green")
lines(y*0.8, col ="red")

In [ ]:
# ... and finally a legend
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")
points(y, pch = 3, col ="blue") #plotting 'character', i.e., symbol to use
points(z, pch = 2, col ="green")
lines(y*0.8, col ="red")
legend('topleft',lty = c(NA,NA,1, 1),pch = c(3, 2,NA,NA), col = c("blue", "green",'black','red'), legend = c("y points", 
"z points",'y point data','skewed y point data'))

In [ ]:
# You can also add horizontal lines to your plot
plot(y, type ="l",xlab ="Index", ylab ="Values (unit)")
points(y, pch = 3, col ="blue") #plotting 'character', i.e., symbol to use
points(z, pch = 2, col ="green")
lines(y*0.8, col ="red")
legend('topleft',lty = c(NA,NA,1, 1),pch = c(3, 2,NA,NA), col = c("blue", "green",'black','red'), legend = c("y points", 
"z points",'y point data','skewed y point data'))
abline(h=mean(y),col =2,lty =1,lwd =2) #used to add straight line

#Exporting a plot to a file

There are many different ways to export plots in R. You can export them directly as a .jpeg with the ***jpeg*** command, as a .png with the ***png*** command or even as a .tiff with ***tiff***. Basically any format is possible. Below we just show one. Within the command you can specify the size of the image (using *width* and *height*) as well as the resolution in dpi, using *res*.

Here in Collab the file will just be stored to your drive. In your standalone version you will need to specify the full path under the filename, where you want your export to be stored to.

In [ ]:
jpeg("PLOT1.jpg", res=300, unit='in', width=8, height=5)
#create a plot 
barplot(student, names.arg=subj, ylab ="Marks")
#close the file 
dev.off()

**That's all for Basic of R**

Note that this is just an exercise - for your future work you will be working on a standalone version of R, where you can change around things as you please. But be sure to stick to clean and clear code. And if you are stuck somewhere, there are excellent resources online (like stackoverflow.com) that will help you out.